/*      General      */

body{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    max-width: 100%;
    overflow-x: hidden;
}

/*      Cabeçalho     */

.container-bar{
    background-color: #FFF;
    width: 100%;
    height: 125px;
}

.logo-container{
    margin-left: 25px;
    position: relative;
    bottom: 15px;
    left: 50px;
    clear: both;
}

.logo-container img{
    width: 280px;
    height: 150px;
    float: left;
}

.frase-logo{
    position: absolute;
    left: 415px;
    top: 45px;
}

.frase-logo p{
    font-size: 30px;
    color: #f0d394;
}

#nav-menu{
    position: absolute;
    right: 0;
    margin-right: 45px;
    margin-top: 65px;
}

.nav-bar li{
    display: inline-block;
    list-style: none;

}

.nav-bar li a{
    color: #f0d394;
    text-decoration: none;
    font-weight: 600;
}

.button{
    background-color: #98651e;
    padding: 25px 40px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 10px #DDD;
}
.button:hover{
    background-color: #f0d394;
    color: #98651e;
    border: 1px solid #98651e;
    transition: .7s;
}

/*      Corpo da pagina       */

.main-container{
    max-width: 100%;
    height: 1400px;
    clear: both;
}

.img-main img{
    width: 100%;
    height: 950px;
    box-sizing: border-box;
}

.banner-main{
    width: 300px;
    height: 500px;
    background-color: #98651e;
    color: #FFF;
    position: absolute;
    float: left;
    left: 150px;
    top: 250px;
    box-shadow: 2px 6px 6px rgb(173, 173, 173);
}

.banner-main img{
    position: absolute;
    width: 100%;
    height: 325px;
}

.img-banner-two{
    position: absolute;
    top: 200px;
    opacity: .9;
}

.products-container{
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 1050px;
    position: absolute;
    left: 15%;
    /* top: 1125px; */
    top: 72em;
}

.products-title{
    text-align: center;
    position: relative;
    top: 15px;
}

.products-title h2{
    font-size: 24px;
    font-family: cursive;
    color: rgb(129, 129, 129);
}

.brand-line-one, .brand-line-two, .brand-line-three{
    position: relative;
    top: 35px;
    left: 60px;
    padding-top: 15px;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.brand-item{
    padding: 10px;
    padding-top: 40px;
    padding-right: 150px;
    display: inline-block;
    text-align: center;
}

.brand-item img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 5px 8px 0px rgb(170, 170, 170);
    margin-bottom: 20px;
}

.brand-item p{
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    color: #98651e;
    margin-bottom: 20px;
}

.brand-item a{
    text-decoration: none;
    cursor: pointer;
    color: #98651e;
    background-color: #FFF;
    border: 1px solid #98651e;
    padding: 5px;
    border-radius: 5px;
}

.brand-item a:hover{
    text-decoration: underline;
}