/*      General      */

body{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    max-width: 100%;
    overflow-x: hidden;
}

/*        Header        */

.header-container{
    background-image: url(../imgs/background-chemim.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position-y: -140px;
    background-repeat: no-repeat;
}

.filter-container{
    background-color: #121212;
    width: 100%;
    height: 100%;
    opacity: .2;
}

.nav-bar{
    position: absolute;
    right: 50px;
    top: 30px;
}

.menu-bar li{
    display: inline-block;
    list-style: none;
}

.menu-bar li a{
    text-decoration: none;
    color: #DCD7C9;
    font-weight: 400;
    font-size: 20px
}

.button{
    margin: 0px 10px;
}

.button:hover{
    text-decoration: underline #cfcb65;
}

.logo-container img{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 170px;
    left: 45%;
    box-shadow: 7px 5px 5px #2C3639;
}

.title{
    position: absolute;
    top: 380px;
    left: 39%;
    text-align: center;
}

.title h1{
    font-size: 30px;
    padding-bottom: 40px;
    color: #DCD7C9;
    margin-right: 7px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 4px 3px 3px #2C3639;
}

.title p{
    font-size: 26px;
    color: #DCD7C9;
    padding: 7px 15px;
    margin-left: 5px;
    border-bottom: 2px solid #cfcb65;
    border-top: 2px solid #cfcb65;
    text-shadow: 2px 2px 2px #2C3639;
}

/*      Main      */

.arrow,
.arrow:before{
  position: absolute;
  left: 50%;
}
.arrow{
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #DCD7C9 solid;
  border-bottom: 2px #DCD7C9 solid;
}
 
.arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #DCD7C9 solid;
  border-bottom: 1px #DCD7C9 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}  

@keyframes arrow{
  0% {opacity: 1}
  100% {opacity: 0;
    transform: translate(-10px, -10px);}
}

.main-content{
    width: 100%;
    height: 700px;
    background-image: url(../imgs/coffee-background.jpg);
}

.filter-container-main{
    background-color: #121212;
    width: 100%;
    height: 100%;
    opacity: .8;
    filter: blur(2px);
}

.history-title{
    position: absolute;
    top: 125%;
    left: 35%;
    
}

.history-title h2{
    color: #FFF;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
    padding-bottom: 70px;
}

hr.linha {
    padding: 0;
    border: none;
    border-top: medium double #8c8c8c;
    color: #8c8c8c;
    text-align: center;
    max-width: 80%;
  }

 .history-paragraph{
    position: absolute;
    top: 155%;
    left: 24%;
 }

.history-paragraph p{
    color: #FFF;
    font-size: 20px;
    width: 75%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    padding-bottom: 80px;
}

.card-boxes{
    width: 100%;
    height: 750px;
    background-color: #121212;
    position: relative;
    bottom: 5px;
}

.box-section-container{
    width: 250px;
    height: 350px;
    margin-top: 110px;
    margin-right: 100px;
    border-radius: 5px;
    display: inline-block;
    align-items: center;
    align-self: center;
    position: relative;
    top: 15%;
    left: 20%;
}

.box-section-container span {
    font-size: 60px;
    color: #3F4E4F;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-variation-settings: 'FILL'1;
}


.box-section-container p{
    color: #DCD7C9;
    font-size: 22px;
    padding-top: 25px;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.linha-box{
    padding: 0;
    border: none;
    border-top: medium double #8c8c8c;
    color: #8c8c8c;
    text-align: center;
    max-width: 30%;
    margin-top: 30px;
}

/*          FOOTER          */

#home_footer{
    background-color: #2C3639; /*alterar cor*/
    width: 100%;
    height: 600px;
}

#newsLetter{
    background-color: #FFF;
    width: 50%;
    height: 250px;
    position: relative;
    left:50%;
    top:10%;
    transform:translate(-50%,-10%);
}

.newsLetter_title{
    text-align: center;
    padding-top: 10px
}

/*          MEDIA          */

@media (max-width: 1366px){
    .header-container{
        background-repeat: no-repeat;
        background-position-y: 0;
    }
}

@media (max-width: 480px){
    .nav-bar{
        display: flex;
        justify-items: center;
    }
    .menu-bar li{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        float: right;
        text-align: center;
    }
    .menu-bar li a{
        font-size: 14px;
    }
    .logo-container img{
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    .title{
        left:50%;
        top:90%;
        transform:translate(-50%,-90%);
    }
    .arrow{
        top: 105%;
    }
    .history-title{
        left: 1vh;
    }
    .card-boxes{
        max-height: 1000px;
        
    }
    .box-section-container{
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    .header-container{
        background-repeat: no-repeat;
        background-position-y: 0;
    }
}